In [96]:
import os
import pandas as pd
import torch
import ast

## Load FMA Metadata

In [34]:
metadata_folder = '../data/fma_metadata'
genres = pd.read_csv(os.path.join(metadata_folder, 'genres.csv'), index_col=0)
tracks = pd.read_csv(os.path.join(metadata_folder, 'tracks.csv'), index_col=0, header=[0, 1])

## Genres

In [35]:
genres.head()

          #tracks  parent          title  top_level
genre_id
1            8693      38    Avant-Garde         38
2            5271       0  International          2
3            1752       0          Blues          3
4            4126       0           Jazz          4
5            4106       0      Classical          5

In [36]:
print('{} top-level genres'.format(len(genres['top_level'].unique())))
genres.loc[genres['top_level'].unique()].sort_values('#tracks', ascending=False)

16 top-level genres

          #tracks  parent                title  top_level
genre_id
38          38154       0         Experimental         38
15          34413       0           Electronic         15
12          32923       0                 Rock         12
1235        14938       0         Instrumental       1235
10          13845       0                  Pop         10
17          12706       0                 Folk         17
21           8389       0              Hip-Hop         21
2            5271       0        International          2
4            4126       0                 Jazz          4
5            4106       0            Classical          5
9            1987       0              Country          9
20           1876       0               Spoken         20
3            1752       0                Blues          3
14           1499       0             Soul-RnB         14
8             868       0  Old-Time / Historic          8
13            730       0       Easy Listening         13

In [22]:
experimental = genres[genres['parent'] == 38]

print('{} subgenres of "experimental"'.format(len(experimental)))
experimental

14 subgenres of "experimental"

          #tracks  parent             title  top_level
genre_id
1            8693      38       Avant-Garde         38
6             914      38           Novelty         38
22            774      38     Audio Collage         38
30           3237      38  Field Recordings         38
32           7268      38             Noise         38
41           6110      38   Electroacoustic         38
47           2546      38             Drone         38
125          1511      38    Unclassifiable         38
186           682      38      Sound Poetry         38
224          1916      38     Sound Collage         38
247          2957      38  Musique Concrete         38
250          4261      38            Improv         38
456          1392      38        Minimalism         38
514          1414      38         Sound Art         38

## Tracks

In [9]:
tracks.head()

            album                                                     \
         comments         date_created        date_released engineer
track_id
2               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
3               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
5               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
10              0  2008-11-26 01:45:08  2008-02-06 00:00:00      NaN
20              0  2008-11-26 01:45:05  2009-01-06 00:00:00      NaN

                                                                          \
         favorites id                                information listens
track_id
2                4  1                                    <p></p>    6073
3                4  1                                    <p></p>    6073
5                4  1                                    <p></p>    6073
10               4  6                                        NaN   47632
20               2  4  <p> "spiritual songs" from Nicky Cook</p>    2710

                        ...       track                         \
         producer tags  ... information interest language_code
track_id                ...
2             NaN   []  ...         NaN     4656            en
3             NaN   []  ...         NaN     1470            en
5             NaN   []  ...         NaN     1933            en
10            NaN   []  ...         NaN    54881            en
20            NaN   []  ...         NaN      978            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN
3         Attribution-NonCommercial-ShareAlike 3.0 Inter...     514      NaN
5         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
10        Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
20        Attribution-NonCommercial-NoDerivatives (aka M...     361      NaN


         number publisher tags            title
track_id
2             3       NaN   []             Food
3             4       NaN   []     Electric Ave
5             6       NaN   []       This World
10            1       NaN   []          Freeway
20            3       NaN   []  Spiritual Level

[5 rows x 52 columns]

In [127]:
# get the genre and listens of tracks with genre "experimental"
bad_genres = [38]
experimental_tracks = tracks.loc[tracks['track', 'genres_all'].apply(lambda x: any(val in ast.literal_eval(x) for val in bad_genres))]

# filter to the tracks with more than 1000 listens and 5 favorites
experimental_tracks = experimental_tracks.loc[(experimental_tracks['track', 'listens'] > 1000) & (experimental_tracks['track', 'favorites'] > 5)]

print('{} experimental tracks with more than 1000 listens and 5 favorites'.format(len(experimental_tracks)))
experimental_tracks['track'].head()

2237 tracks with more than 1000 listens and 5 favorites

,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,
281,256000,0,Brian Chippendale,2008-11-26 01:51:32,2008-11-26 00:00:00,346,11,Experimental,[32],"[32, 38]",NaN,2202,en,Attribution-Noncommercial-No Derivative Works ...,2114,NaN,4,NaN,[],Juggernaut
418,256000,0,NaN,2008-11-26 01:58:52,2008-10-01 00:00:00,486,10,NaN,"[1, 18]","[1, 18, 1235, 38]",NaN,7458,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,3890,NaN,1,NaN,[],Track1
1066,192000,0,NaN,2008-11-26 02:33:02,2005-04-15 00:00:00,234,6,Experimental,[22],"[38, 22]",NaN,11676,en,Attribution-Noncommercial-Share Alike 3.0 Unit...,10700,NaN,1,NaN,[],Helicopter de Cristal
1069,192000,0,NaN,2008-11-26 02:33:08,2005-04-15 00:00:00,110,6,Experimental,[22],"[38, 22]",NaN,7038,en,Attribution-Noncommercial-Share Alike 3.0 Unit...,5661,NaN,4,NaN,[],Un Lagrima en la Discoteca
1076,192000,0,NaN,2008-11-26 02:33:20,2008-01-01 00:00:00,165,18,NaN,"[15, 22]","[38, 22, 15]",NaN,17520,en,Attribution-Noncommercial-Share Alike 3.0 Unit...,14981,NaN,11,NaN,[],I Keep Waiting For Earthquakes

In [130]:
# Now, get the indices of the worst experimental tracks. We can pass these into the ignore argument of our preprocessor

experimental_genre = 38
experimental_tracks = tracks.loc[tracks['track', 'genres_all'].apply(lambda x: experimental_genre in ast.literal_eval(x))]
experimental_tracks = list(experimental_tracks.loc[(experimental_tracks['track', 'listens'] <= 1000) | (experimental_tracks['track', 'favorites'] <= 5)].index)
print(f'getting indices for: {len(experimental_tracks)} tracks')
print(f'{experimental_tracks[:5]} ...')

getting indices for: 35917 tracks
[137, 138, 148, 149, 150] ...

In [129]:
# new dataset makeup:
2237 / (100000 - 35917)

0.034907853877003264

After this removal process there will be about 2.2k experimental tracks left, which is 3% of the new dataset (~65k clips)

Unfiltered, there are 36k, which is about 36% of the dataset.